html,body{
    margin:0;
    background-image:url("Fundo.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
    padding:0;
    height:100%;
    overflow:hidden;
   
}

#divcanvas{
    display:flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.div1interna{
    color:white;

}

.div1interna{
    color:white;

}

.div2interna{
    color:white;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

h2{
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: steelblue;
  display: flex;
  justify-content: space-around;
  padding-left: 95px;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 100px;
  text-decoration: none;
}

ul li a:hover {
  background-color: skyblue;
}

.div1externa{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

.div1interna{
    flex-direction: column;
    border: 3px solid steelblue;
    padding: 15px;

}

.div2externa{
    display: flex;
    flex-direction: column;
}

.div2interna{
    border: 3px solid steelblue;
    flex-direction: column;
    padding: 15px;
    align-self: center;
    justify-self: center;
    margin: 30px;
    margin-top: 15px;
    width: 600px;
}

p{
    text-align: center;
    padding: 20px;
}

#button{
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
    width:200px;
    height:80px;
    font-size:30px;
    border-radius: 15px;
    border-color:rgb(32, 32, 140);
    color:white;
    background-color: rgb(80, 124, 254);
}

#button:hover{
    background-color: rgb(0, 238, 255);     
}

.logo{
    display:flex;
    justify-content:center;
    margin-top:40px;
}
.logo img{
    width:700px;
    height:auto;

    margin-top:-250px;

}