*{
    max-width: 100%
}
body{
    background-color: lightgray;
}
h1{
    color: darkgreen;
    padding: 50px 50px;
    text-align: center;
    font-size: 25pt;
    margin: 10px;
    border: solid 3px darkblue;
    box-shadow: 0 50px  lightskyblue;
    background-color: bisque;
    width:96%;
    height:120px;
}

#c{
    width: 150px;
    height: 150px;
    position:absolute;
    top:50px;
    left:50px;
}

#j{
    width: 150px;
    height: 150px;
    position:absolute;
    top:50px;
    right:50px;
}

#u1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#u1 .l1{
    color: darkred;
    size: 8pt;
    position:relative;
    top: 0;
    left: 25%;
    float: left;
    text-align:center;
    padding: 10px 75px;
}

h2{
    position:relative;
    padding: 10px;
    color:black;
    text-align:center;
    font-style: sans-serif;
    font-size: 22pt;
}

.text{
    color:indigo;
    font-size: 20pt;
    font-style: sans-serif;
    text-align: center;
}

#b1{
    position: relative;
    margin-left: 100px;
    margin-right: 80px;
    width:320px;
    height:450px;
}
#b2{
    position: relative;
    margin-left: 100px;
    margin-right: 80px;
    width: 380px;
    height:450px;
  }

#b3{
    position: relative;
    margin-left: 100px;
    margin-right: 80px;
    width: 320px;
    height: 450px;
}

#i1{
    width: 400px;
    height: 400px;
    position: relative;
    margin-left: 350px;
    margin-right: 100px;
}

#i2{
    width: 400px;
    height: 400px;
    position: relative;
    margin-right:350px;
}

table tr th{
   width: 200px;
   height: 50px;
   border: 1px solid red;
}

table{
    border: 4px dashed red;
    position: relative;
    left: 38%;
}

.titulo{
    color: red;
}

a{
    display:block;
    color:red;
}

#a1{
    position: absolute;
    top: 2110px;
    left: 800px;
}

#a2{
    position: absolute;
    top: 2130px;
    left: 800px;
}

#a3{
    position: absolute;
    top: 2148px;
    left: 800px;
}

div{
    border: 0;
    background-color: yellow;
    margin: 50px;
    margin-left:500px;
    margin-right:500px;
}

#p{
    color: black;
    text-align: left;
}

#u2{
    color: black;
}

h3{
    font-family: Comic Sans MS;
    font-size: 15pt; 
    color: black;
    text-align: center;
    padding: 50px 50px;
    margin: 10px;
    border: 0;
    background-color: bisque;
    width:96%;
    height:75px;

}

#html{
    width: 100px;
    height: 100px;
    position: absolute;
    top:2250px;
    left:50px;
}

#css{
    width: 85px;
    height: 100px;
    position: absolute;
    top:2250px;
    right:50px;
}


