h1{
    color: darkgreen;
    padding: 50px 50px;
    text-align: center;
    size: 25pt;
    margin: 10px;
    border: solid 3px darkblue;
    box-shadow: 0 50px  lightskyblue;
    background-color: bisque;
    width:96%;
    height:120px;
}

#c{
    width: 150px;
    height: 150px;
    position:absolute;
    top:50px;
    left:50px;
}

#j{
    width: 150px;
    height: 150px;
    position:absolute;
    top:50px;
    right:50px;
}

#u1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#u1 .l1{
    color: darkred;
    size: 8pt;
    position:relative;
    top: 0;
    left: 25%;
    float: left;
    text-align:center;
    padding: 10px 75px;
}

h2{
    position:relative;
    padding: 20px;
    color:black;
    text-align:center;
    font-style: sans-serif;
}
p{
    color:indigo;
    size: 20pt;
    font-style: sans-serif;
    text-align: center;
}

#b1{
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    width:320px;
    height:450px;
}
#b2{
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    width: 300px;
    height:450px;
  }

#b3{
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
    width: 320px;
    height: 450px;
}

#i1{
    width: 400px;
    height: 400px;
    position: relative;
    margin-left: 300px;
    margin-right: 100px;
}

#i2{
    width: 400px;
    height: 400px;
    position: relative;
    margin-right:200px;
}

table tr th{
   width: 200px;
   height: 50px;
   border: 1px solid red;
}

table{
    border: 4px dashed red;
    position: relative;
    left: 38%;
}

div{
    border: 0;
    padding: 50px;
    background-color: yellow;
    margin: 50px;
    margin-left:500px;
    margin-right:500px;

    

}

#p{
    color: black;
    text-align: left;
}

#u2{
    color: black;
}


