h1{
    color:white;
    background-color: palevioletred;
    font-size: 18pt
}
h2{
     color:white;
    background-color: palevioletred;
    font-size: 16pt
}
a{
    color:rgb(235, 146, 176);
    font-size: 14pt;
}
a:hover{
    color:white;
    background-color:rgb(235, 146, 176)
}
.texto{
    color:black;
    font-size: 14pt;
}
#proj{
    color:palevioletred;
    background-color: white;
    font-size: 18pt;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
}
#titulo{
    color: white;
    background-color: palevioletred;
}
