body{
    background-color: gainsboro;
}

h1{
    text-align: center;
    margin-top: 5%;
}

h2{
    text-align: center;
    margin-top: 5%;
}

.divform{
    display: flex;
    justify-content: center;
}

form{
    justify-items: end;
    margin-right: 100px;
}

#button1{
    margin-left: 30%;
    margin-top: 20px;
}

#button2{
    margin-left: 40%;
    margin-top: 20px;
}

#button3{
    margin-left: 50%;
    margin-top: 20px;
}

#button4{
   margin-left: 46%;
    margin-top: 50px;
}

#button5{
   margin-left: 40%;
    margin-top: 50px;
}

#carro{
    background-color: white;
    padding: 20px;
    margin-top: 30px;
    border-radius: 12px;
    border: 3px solid black;
    width: 400px;
}

#carros{
    display:flex;
    justify-content: center;
}
