html,body{
    margin:0;
    background-image:url("imagens/Fundo.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
    padding:0;
    height:100%;
    overflow:hidden;
   
}

body{
    background-color: rgb(133, 177, 215);
}

#divcanvas{
    display:flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    color: white;
}

h2{
    text-align: center;
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: steelblue;
  display: flex;
  justify-content: space-around;
  padding-left: 95px;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 100px;
  text-decoration: none;
}

ul li a:hover {
  background-color: skyblue;
}

.div1externa{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}

.div1interna{
    flex-direction: column;
    border: 3px outset steelblue;
    background-color: rgba(70, 131, 180, 0.593);
    padding: 15px;

}

.div2externa{
    display: flex;
    flex-direction: column;
}

.div2interna{
    border: 3px outset steelblue;
    background-color: rgba(70, 131, 180, 0.478);
    flex-direction: column;
    padding: 15px;
    align-self: center;
    justify-self: center;
    margin: 30px;
    margin-top: 15px;
    width: 600px;
}

p{
    text-align: center;
    padding: 20px;
    color: white;
}

#button{
    margin-left: 46%;
    margin-top: 30px;
    font-size: 14pt;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border-color: white;
    background-color: steelblue;
    color: white;
}

#button:hover{
    background-color: skyblue;     
}

.logo{
    display:flex;
    justify-content:center;
    margin-top: 10px;
}

.logo img{
    width: 256px;
    height: 128px;
}