h1 {
    color:plum;
}

.flex-container {
    background-color: blanchedalmond;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center; 
    height: 400px;
}

.flex-container div {
    background-color: plum;
    margin: 20px;
    padding: 10px;
}

#d10 {
    order: 1;
    flex-grow: 1;
}

#d20 {
    order: 2;
    flex-grow: 2;
}

#d18 {
    order: 3;
    align-self: flex-end;
}

#d30 {
   flex-basis: 200px;
}